
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-JNa {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4e6049377f1d920c2ad3d7f679d9e92817cff392');
  overflow: hidden;
  width: 100%;

  .auto-group-os3g-roQ {
    width: 100%;
    height: 222.4rem;
    position: relative;
    flex-shrink: 0;

    .feature-two-V7c {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 151rem;
      height: 74.3rem;
      position: absolute;
      left: 0;
      top: 146.7rem;

      .blob-haikei-6-1-Xpz {
        vertical-align: top;
        width: 87.6rem;
        height: 71.8rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .create-jewelry-that-can-be-worn-in-different-ways-or-adapted-to-various-styles-making-it-versatile-for-any-occasion-jRG {
        height: 14.6rem;
        position: absolute;
        line-height: 1.2125;
        color: #091e42;
        font-family: Inter, 'Source Sans Pro';
        width: 51.4rem;
        font-size: 3rem;
        font-weight: 400;
        top: 30.3rem;
      }
      .style-for-any-occasion-34a {
        line-height: 1.2125;
        font-style: italic;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 4.4rem;
        top: 24.1rem;
        left: 13.1rem;
        font-size: 3.6rem;
        font-weight: 500;
        color: #000000;
        width: 39.1rem;
        position: absolute;
      }
      .rectangle-12-e4N {
        height: 48.8rem;
        position: absolute;
        left: 76.6rem;
        top: 11.1rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 7rem 0 5rem 0;
        width: 56.5rem;
      }
    }
    .feature-one-RzE {
      width: 159.6rem;
      height: 78.4rem;
      position: absolute;
      left: 0;
      top: 71.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;

      .blob-haikei-3-1-JYE {
        top: 2.6rem;
        object-fit: cover;
        vertical-align: top;
        width: 112.2rem;
        height: 72.3rem;
        position: absolute;
        left: 47.4rem;
      }
      .add-a-personal-touch-to-your-accessories-with-initials-birthstones-or-unique-engravings-making-each-piece-special-Zj4 {
        position: absolute;
        left: 79.2rem;
        color: #091e42;
        font-family: Inter, 'Source Sans Pro';
        width: 56.9rem;
        height: 14.6rem;
        font-weight: 400;
        line-height: 1.2125;
        top: 35rem;
        font-size: 3rem;
      }
      .one-of-a-kind-personal-touch-Wni {
        width: 52.8rem;
        height: 4.4rem;
        top: 26.2rem;
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 80.3rem;
        font-size: 3.6rem;
        line-height: 1.2125;
        font-style: italic;
        color: #000000;
      }
      .rectangle-9-A6a {
        top: 11.9rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 7rem 0 5rem 0;
        width: 56.5rem;
        height: 48.8rem;
        position: absolute;
        left: 10.7rem;
      }
    }
    .hero-CJA {
      top: 0;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 159.3rem;
      height: 79.5rem;
      position: absolute;
      left: 0;

      .frame-708-tgn {
        font-weight: 400;
        display: flex;
        position: absolute;
        left: 8.7rem;
        font-size: 2.6rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        border-radius: 1rem;
        width: 30.1rem;
        height: 4.7rem;
        top: 49.8rem;
        color: #ffffff;
        justify-content: center;
        line-height: 1.2125;
        white-space: nowrap;
        background-color: #7a8699;
      }
      .elevate-your-style-with-unique-handmade-jewelry-and-accessories-TtJ {
        left: 8.7rem;
        line-height: 1.09;
        font-family: Julius Sans One, 'Source Sans Pro';
        width: 62.2rem;
        height: 15.7rem;
        position: absolute;
        color: #000000;
        top: 19.2rem;
        font-size: 4.8rem;
        font-weight: 400;
      }
      .artisan-crafted-one-of-a-kind-pieces-for-a-style-statement-like-no-other-rvS {
        left: 8.7rem;
        top: 39.7rem;
        font-size: 2.6rem;
        font-weight: 400;
        width: 59.2rem;
        height: 6.4rem;
        color: #091e42;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        line-height: 1.2125;
      }
      .embrace-the-joy-of-our-handmade-jewelry-and-accessories-and-become-part-of-the-delighted-customer-circle-today-T9Y {
        height: 3.9rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 44.7rem;
        position: absolute;
        left: 40.9rem;
        top: 50.6rem;
        font-size: 1.6rem;
        color: #7a8699;
      }
      .result-1-H8a {
        width: 95.7rem;
        height: 79.5rem;
        position: absolute;
        left: 63.6rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .header-Zrn {
      left: 0;
      top: 0;
      width: 144rem;
      height: 10.3rem;
      position: absolute;

      .rectangle-1-hxz {
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        width: 144rem;
        height: 7.5rem;
      }
      .login-dLr {
        height: 3.2rem;
        left: 113.9rem;
        font-size: 2.6rem;
        line-height: 1.2125;
        color: #000000;
        width: 5.9rem;
        position: absolute;
        top: 2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .about-us-vqk {
        width: 11rem;
        font-size: 2.6rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        height: 3.2rem;
        position: absolute;
        left: 79.5rem;
        top: 2rem;
      }
      .blog-dEN {
        width: 5.5rem;
        position: absolute;
        left: 69.2rem;
        color: #000000;
        height: 3.2rem;
        top: 2rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .shop-Z82 {
        left: 58.4rem;
        top: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        width: 6.4rem;
        height: 3.2rem;
        position: absolute;
        font-size: 2.6rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .rectangle-3-4aa {
        width: 16.4rem;
        height: 3.7rem;
        position: absolute;
        left: 125.3rem;
        top: 1.9rem;
        background-color: #7a8699;
        border-radius: 1.1rem;
      }
      .sign-up-Pcr {
        position: absolute;
        left: 129rem;
        font-family: Inter, 'Source Sans Pro';
        width: 9rem;
        height: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #f5f6f7;
        white-space: nowrap;
        top: 2rem;
        font-size: 2.6rem;
      }
      .home-VQz {
        height: 3.2rem;
        font-family: Inter, 'Source Sans Pro';
        left: 46.3rem;
        top: 2rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        width: 7.3rem;
        position: absolute;
        white-space: nowrap;
      }
      .artistry-Dbt {
        font-weight: 400;
        line-height: 1.6;
        color: #000000;
        font-size: 6.4rem;
        height: 10.3rem;
        position: absolute;
        left: 5.6rem;
        top: 0;
        font-family: Lavishly Yours, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.7rem;
      }
    }
  }
  .auto-group-ur8v-vmC {
    width: 155.2rem;
    height: 128.3rem;
    position: relative;
    flex-shrink: 0;

    .accessories-r94 {
      position: absolute;
      top: 74.7rem;
      display: flex;
      box-sizing: border-box;
      width: 144rem;
      height: 53.6rem;
      border: solid 0.1rem #000000;
      padding: 2.6rem 2.2rem 3.7rem 1.9rem;
      left: 0;
      align-items: center;

      .auto-group-y5ga-ut2 {
        margin: 0rem 11.4rem 4.525rem 0rem;
        width: 44.4rem;
        flex-shrink: 0;

        .auto-group-rqzk-Sd4 {
          font-size: 3.6rem;
          align-items: center;
          justify-content: center;
          height: 7.3rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #dadbd6;
          margin: 0rem 0rem 4.1rem 1.5rem;
          width: 27.6rem;
          white-space: nowrap;
          display: flex;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
        .auto-group-wmuz-F4i {
          align-items: center;
          width: 100%;
          height: 31.3746rem;
          display: flex;

          .frame-710-NQE {
            padding: 1.25rem 3.204rem 1.258rem 2.801rem;
            height: calc(100% - 23.0746rem);
            border-radius: 4.5rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            margin: 10.7rem 5rem 12.375rem 0rem;
            box-sizing: border-box;
            border: solid 0.1rem #000000;
            background-color: #000000;
            flex-shrink: 0;

            .vector-SS2 {
              width: 2.895rem;
              height: 5.7916rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item-1-JUE {
            background-position: center;
            flex-shrink: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            position: relative;
            display: flex;
            border: solid 0.1rem #000000;
            border-radius: 3rem;
            padding: 1.206rem 0rem 0rem 0rem;
            height: 100%;
            flex-direction: column;
            background-color: #d3d3d0;
            overflow: hidden;
            align-items: flex-end;
            background-image: url('REPLACE_IMAGE:292ea06c1b7856cec7bd93db572416b054761b5f');
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            width: 30.5rem;

            .frame-709-pSa {
              margin: 0rem 1.044rem 19.234rem 0rem;
              width: 4.2656rem;
              height: 4.2656rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-nqqa-VHp {
              width: 100%;
              font-family: Inter, 'Source Sans Pro';
              height: 6.6685rem;
              font-size: 2.6237rem;
              font-weight: 400;
              color: #ffffff;
              justify-content: center;
              flex-shrink: 0;
              line-height: 1.2125;
              white-space: nowrap;
              display: flex;
              align-items: center;
              text-align: center;
              background-color: #000000;
            }
          }
        }
      }
      .auto-group-8ex6-D7L {
        margin: 11.3rem 8.584rem 0rem 0rem;
        width: 30.5156rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item-2-jrN {
          height: 31.5rem;
          overflow: hidden;
          background-color: #d3d3d0;
          border-radius: 3rem;
          flex-shrink: 0;
          margin-bottom: 2.6rem;
          position: relative;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 100%;

          .rectangle-19-4dk {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 30.5156rem;
            height: 31.3906rem;
            position: absolute;
            left: 0;
          }
          .rectangle-20-nJr {
            left: 0;
            top: 24.8281rem;
            background-color: #000000;
            width: 30.5156rem;
            height: 6.6719rem;
            position: absolute;
          }
          .add-to-cart-XXL {
            text-align: center;
            font-size: 2.625rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            height: 3.2rem;
            position: absolute;
            top: 26.5781rem;
            line-height: 1.2125;
            color: #ffffff;
            white-space: nowrap;
            width: 14rem;
            left: 8.2031rem;
          }
          .frame-709-2iz {
            top: 1.2063rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.2656rem;
            height: 4.2656rem;
            position: absolute;
            left: 25.1906rem;
          }
        }
        .auto-group-nawa-6ir {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 8.716rem 0rem 7rem;
          width: calc(100% - 15.7156rem);
          display: flex;

          .rectangle-24-EaA {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #000000;
            border-radius: 2.7rem;
            flex-shrink: 0;
            margin-right: 4.6rem;
            width: 1.9rem;
            height: 1.9rem;
          }
          .rectangle-23-vxn {
            width: 1.9rem;
            height: 1.9rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #d9d9d9;
            border-radius: 2.7rem;
            flex-shrink: 0;
            margin-right: 4.5rem;
          }
          .rectangle-25-Txi {
            background-color: #d9d9d9;
            border-radius: 2.7rem;
            flex-shrink: 0;
            width: 1.9rem;
            height: 1.9rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
        }
      }
      .item-3-nzz {
        width: 30.3303rem;
        height: calc(100% - 16.1rem);
        background-color: #d3d3d0;
        flex-shrink: 0;
        box-sizing: border-box;
        overflow: hidden;
        background-size: 100% 100%;
        position: relative;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:296ca414ab72f7e389129b82a74d59051aa654ed');
        border-radius: 3rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        margin: 11.6rem 5.77rem 4.5rem 0rem;
        padding: 1.483rem 1.313rem 1.483rem 24.777rem;
        background-position: center;
        border: solid 0.1rem #000000;

        .frame-712-g4n {
          border-radius: 6.3052rem;
          margin-bottom: 23.9945rem;
          box-sizing: border-box;
          padding: 0.817rem 0.817rem 1.023rem 1.023rem;
          width: 100%;
          height: 4.2397rem;
          border: solid 0.1rem #000000;
          background-color: #dadbd6;

          .bxs-heart-bxS {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .frame-711-Fn6 {
        box-sizing: border-box;
        border: solid 0.1rem #000000;
        background-color: #000000;
        border-radius: 4.5rem;
        margin: 22rem 0rem 17rem 0rem;
        padding: 1.258rem 2.801rem 1.25rem 3.204rem;
        height: calc(100% - 39rem);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;

        .vector-jBU {
          width: 2.895rem;
          height: 5.7916rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .feature-three-BJN {
      top: 0;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 155.2rem;
      height: 74.8rem;
      position: absolute;
      left: 0;

      .blob-haikei-7-1-HMQ {
        left: 58rem;
        top: 6.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 97.1rem;
        height: 63.9rem;
        position: absolute;
      }
      .design-accessories-that-can-be-mixed-and-matched-allowing-wearers-to-create-their-own-unique-combinations-effortlessly-c8n {
        position: absolute;
        left: 80.1rem;
        font-weight: 400;
        color: #091e42;
        font-family: Inter, 'Source Sans Pro';
        height: 14.6rem;
        top: 32rem;
        font-size: 3rem;
        line-height: 1.2125;
        width: 53.8rem;
      }
      .mix-and-match-fun-Evr {
        height: 4.4rem;
        left: 83.3rem;
        font-style: italic;
        color: #000000;
        white-space: nowrap;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 32.6rem;
        position: absolute;
        top: 25.4rem;
        font-size: 3.6rem;
        font-weight: 500;
      }
      .rectangle-14-hZY {
        border-radius: 7rem 0 5rem 0;
        width: 56.5rem;
        height: 48.8rem;
        position: absolute;
        left: 10.9rem;
        top: 10.5rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .jewelry-mZQ {
    height: 53.6rem;
    display: flex;
    align-items: center;
    border: solid 0.1rem #000000;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.6rem 2.2rem 3.7rem 1.9rem;
    width: 100%;

    .auto-group-l8un-J3Y {
      margin: 0rem 11.4rem 4.525rem 0rem;
      width: 44.4rem;
      flex-shrink: 0;

      .auto-group-zu2s-dLi {
        line-height: 1.2125;
        white-space: nowrap;
        width: 27.6rem;
        font-weight: 500;
        background-color: #dadbd6;
        margin: 0rem 0rem 4.1rem 1.5rem;
        box-sizing: border-box;
        padding: 1.5rem 1.5rem 1.4rem 1.5rem;
        text-align: center;
        font-size: 3.6rem;
        color: #000000;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #000000;
      }
      .auto-group-n2pe-S3G {
        display: flex;
        align-items: center;
        width: 100%;
        height: 31.3746rem;

        .frame-710-afG {
          margin: 10.7rem 5rem 12.375rem 0rem;
          padding: 1.25rem 3.204rem 1.258rem 2.801rem;
          height: calc(100% - 23.0746rem);
          border: solid 0.1rem #000000;
          background-color: #000000;
          flex-shrink: 0;
          box-sizing: border-box;
          border-radius: 4.5rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .vector-s8a {
            vertical-align: top;
            width: 2.895rem;
            height: 5.7916rem;
            object-fit: contain;
          }
        }
        .item-1-w8S {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          width: 30.5rem;
          height: 100%;
          overflow: hidden;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:292ea06c1b7856cec7bd93db572416b054761b5f');
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 3rem;
          position: relative;
          background-color: #d3d3d0;
          flex-shrink: 0;
          padding: 1.206rem 0rem 0rem 0rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-size: 100% 100%;

          .frame-709-4Tx {
            margin: 0rem 1.044rem 19.234rem 0rem;
            width: 4.2656rem;
            height: 4.2656rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-zafx-BoU {
            color: #ffffff;
            align-items: center;
            background-color: #000000;
            width: 100%;
            height: 6.6685rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 2.6237rem;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    .auto-group-xbqx-VSn {
      margin: 11.3rem 8.584rem 0rem 0rem;
      width: 30.5156rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item-2-dJ6 {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #d3d3d0;
        border-radius: 3rem;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        margin-bottom: 2.6rem;
        height: 31.5rem;
        overflow: hidden;

        .rectangle-19-mv6 {
          height: 31.3906rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 30.5156rem;
        }
        .rectangle-20-Wsg {
          width: 30.5156rem;
          height: 6.6719rem;
          position: absolute;
          left: 0;
          top: 24.8281rem;
          background-color: #000000;
        }
        .add-to-cart-4PQ {
          font-family: Inter, 'Source Sans Pro';
          width: 14rem;
          height: 3.2rem;
          position: absolute;
          left: 8.2031rem;
          top: 26.5781rem;
          font-size: 2.625rem;
          color: #ffffff;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .frame-709-a6r {
          position: absolute;
          left: 25.1906rem;
          top: 1.2063rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.2656rem;
          height: 4.2656rem;
        }
      }
      .auto-group-pxev-1CA {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 8.716rem 0rem 7rem;
        width: calc(100% - 15.7156rem);
        display: flex;

        .rectangle-24-jdx {
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #000000;
          border-radius: 2.7rem;
          flex-shrink: 0;
          margin-right: 4.6rem;
          width: 1.9rem;
          height: 1.9rem;
        }
        .rectangle-23-fGi {
          box-sizing: border-box;
          background-color: #d9d9d9;
          border-radius: 2.7rem;
          flex-shrink: 0;
          margin-right: 4.5rem;
          width: 1.9rem;
          height: 1.9rem;
          border: solid 0.1rem #000000;
        }
        .rectangle-25-BF4 {
          box-sizing: border-box;
          background-color: #d9d9d9;
          border-radius: 2.7rem;
          flex-shrink: 0;
          width: 1.9rem;
          height: 1.9rem;
          border: solid 0.1rem #000000;
        }
      }
    }
    .item-3-W2S {
      background-position: center;
      margin: 11.6rem 5.77rem 4.5rem 0rem;
      padding: 1.483rem 1.313rem 1.483rem 24.777rem;
      background-image: url('REPLACE_IMAGE:296ca414ab72f7e389129b82a74d59051aa654ed');
      border: solid 0.1rem #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      background-size: 100% 100%;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d3d3d0;
      border-radius: 3rem;
      height: calc(100% - 16.1rem);
      background-repeat: no-repeat;

      .frame-712-CR4 {
        object-fit: contain;
        vertical-align: top;
        margin-bottom: 23.9945rem;
        width: 4.2397rem;
        height: 4.2397rem;
      }
    }
    .frame-711-qyp {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin: 22rem 0rem 17rem 0rem;
      height: calc(100% - 39rem);
      border: solid 0.1rem #000000;
      background-color: #000000;
      border-radius: 4.5rem;
      box-sizing: border-box;
      padding: 1.258rem 2.801rem 1.25rem 3.204rem;

      .vector-mca {
        height: 5.7916rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.895rem;
      }
    }
  }
  .testimonials-Fne {
    box-sizing: border-box;
    width: 100%;
    height: 76.5rem;
    display: flex;
    padding: 2.6rem 6.1rem 4.5rem 3.8rem;
    column-gap: 7.4rem;
    align-items: center;
    border: solid 0.1rem #000000;
    flex-shrink: 0;

    .auto-group-4dgi-mW6 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;

      .auto-group-sby8-jC2 {
        width: 35.7rem;
        text-align: center;
        color: #000000;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 8rem;
        height: 7.3rem;
        font-size: 3.6rem;
        white-space: nowrap;
        justify-content: center;
        background-color: #d2d3d0;
        line-height: 1.2125;
        display: flex;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .frame-707-ayL {
        padding: 3.3rem 4rem 3.1rem 4.1rem;
        width: 38rem;
        display: flex;
        background-position: 0.2599rem 32.5103rem;
        border-radius: 0.8rem;
        background-color: #d3d3d0;
        flex-shrink: 0;
        align-items: center;
        background-size: 174.828% 39.924%;
        margin-left: 5.3rem;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border: solid 0.1rem #000000;
        background-image: url('REPLACE_IMAGE:365a7dd0cd974034f1661d32a82758001018bd07');

        .i-absolutely-love-the-unique-designs-from-this-boutique-the-craftsmanship-is-impeccable-and-each-piece-tells-a-story-the-customer-service-is-fantastic-too-KAE {
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.8rem;
          line-height: 1.2125;
          flex-shrink: 0;
          margin-bottom: 12.8rem;
          max-width: 29.9rem;
          text-align: center;
        }
        .auto-group-mitg-9ux {
          flex-shrink: 0;
          margin: 0rem 5.3rem 0rem 4.2rem;
          width: calc(100% - 9.5rem);
          height: 7.7rem;
          display: flex;
          align-items: center;

          .rectangle-59-fNW {
            flex-shrink: 0;
            margin-right: 2rem;
            width: 7.5rem;
            height: 7.7rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 8.2rem;
          }
          .auto-group-r52v-aVU {
            flex-direction: column;
            flex-shrink: 0;
            margin: 1rem 0rem 0.9rem 0rem;
            height: calc(100% - 1.9rem);
            align-items: center;
            display: flex;

            .sarah-m-7kJ {
              line-height: 1.2125;
              white-space: nowrap;
              text-align: center;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 0rem 0.3rem 0.3rem;
              font-size: 2.4rem;
            }
            .rectangle-71-1an {
              width: 10.9rem;
              height: 2.5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .frame-707-ayL-bg {
          background-image: url('REPLACE_IMAGE:365a7dd0cd974034f1661d32a82758001018bd07');
          width: 38rem;
          height: 54.1rem;
          position: relative;
        }
      }
    }
    .frame-706-PLS {
      background-color: #d3d3d0;
      flex-shrink: 0;
      width: 38rem;
      border: solid 0.1rem #000000;
      border-radius: 0.8rem;
      height: calc(100% - 15.3rem);
      flex-direction: column;
      background-size: 174.828% 39.924%;
      background-position: 0.2599rem 32.5103rem;
      margin: 8.6rem 0rem 6.7rem 0rem;
      box-sizing: border-box;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 3.3rem 3.95rem 4.1rem 4.05rem;
      align-items: center;
      background-image: url('REPLACE_IMAGE:365a7dd0cd974034f1661d32a82758001018bd07');

      .exquisite-accessories-extraordinary-attention-to-detail-in-handmade-jewelry-exceptional-customer-service-friendly-and-quick-to-address-any-inquiries-5yx {
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        max-width: 30rem;
        font-size: 2.8rem;
        color: #000000;
        flex-shrink: 0;
        margin-bottom: 11.8rem;
      }
      .auto-group-ym2n-kqC {
        margin: 0rem 4.9rem 0rem 4.35rem;
        width: calc(100% - 9.25rem);
        height: 7.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-57-V26 {
          object-fit: contain;
          vertical-align: top;
          border-radius: 8.2rem;
          flex-shrink: 0;
          margin-right: 1.9rem;
          width: 7.5rem;
          height: 7.7rem;
        }
        .auto-group-gjcw-DTt {
          flex-direction: column;
          flex-shrink: 0;
          margin: 1rem 0rem 0.7rem 0rem;
          width: 11.35rem;
          height: calc(100% - 1.7rem);
          align-items: flex-end;
          display: flex;

          .sophia-r-wug {
            margin-bottom: 0.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            width: 100%;
            text-align: center;
            font-size: 2.4rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .rectangle-71-5kz {
            height: 2.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.45rem;
            width: 10.9rem;
          }
        }
      }
      .frame-706-PLS-bg {
        background-image: url('REPLACE_IMAGE:365a7dd0cd974034f1661d32a82758001018bd07');
        width: 38rem;
        height: 54.1rem;
        position: relative;
      }
    }
    .frame-705-uEE {
      box-sizing: border-box;
      align-items: center;
      border-radius: 0.8rem;
      background-size: 174.828% 39.924%;
      background-image: url('REPLACE_IMAGE:365a7dd0cd974034f1661d32a82758001018bd07');
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 3.3rem 3.85rem 3.9rem 3.95rem;
      width: 38rem;
      display: flex;
      flex-direction: column;
      margin-top: 15.3rem;
      background-position: 0.2599rem 32.5103rem;
      background-color: #d3d3d0;
      flex-shrink: 0;
      border: solid 0.1rem #000000;

      .im-blown-away-by-the-creativity-each-accessory-feels-like-a-work-of-art-impeccable-craftsmanship-and-top-notch-customer-service-make-every-purchase-a-delight-2Zk {
        margin-bottom: 8.6rem;
        max-width: 30.2rem;
        text-align: center;
        color: #000000;
        flex-shrink: 0;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-tzsc-f6v {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 5.45rem 0rem 4.35rem;
        width: calc(100% - 9.8rem);
        height: 7.7rem;

        .rectangle-61-xri {
          height: 7.7rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 8.2rem;
          flex-shrink: 0;
          margin-right: 2rem;
          width: 7.5rem;
        }
        .auto-group-g89c-W7Y {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1rem 0rem 0.7rem 0rem;
          width: 10.9rem;
          height: calc(100% - 1.7rem);
          align-items: flex-end;

          .olivia-g-EJS {
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            width: 100%;
            font-size: 2.4rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 0.5rem;
          }
          .rectangle-71-jW6 {
            vertical-align: top;
            flex-shrink: 0;
            width: 10.9rem;
            height: 2.5rem;
            object-fit: cover;
          }
        }
      }
      .frame-705-uEE-bg {
        position: relative;
        background-image: url('REPLACE_IMAGE:365a7dd0cd974034f1661d32a82758001018bd07');
        width: 38rem;
        height: 54.1rem;
      }
    }
  }
  .newsletter-gpe {
    padding: 2.5rem 3.8rem 7.7rem 3.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #000000;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-ivdt-z4e {
      font-size: 3.6rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin-bottom: 5.5rem;
      width: 35.7rem;
      justify-content: center;
      box-sizing: border-box;
      background-color: #d2d3d0;
      height: 7.3rem;
      text-align: center;
      font-weight: 400;
      white-space: nowrap;
      align-items: center;
      display: flex;
      flex-shrink: 0;
    }
    .get-updated-of-latest-designs-and-upcoming-discounts-qqx {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 4.2rem;
      width: 100%;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      text-align: center;
      font-size: 2.6rem;
    }
    .auto-group-l5wn-xQn {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 72.6rem 0rem 2rem;
      width: calc(100% - 74.6rem);
      height: 5.1rem;

      .auto-group-42gv-V9p {
        color: #aaa4a4;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        box-sizing: border-box;
        width: 48.7rem;
        height: 100%;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        background-color: #ffffff;
        padding: 1rem 1.4rem 0.9rem 1.4rem;
        text-align: center;
        font-size: 2.6rem;
      }
      .auto-group-3bk2-8Tg {
        width: 13.1rem;
        color: #ffffff;
        border-radius: 0 1.3rem 0 0;
        flex-shrink: 0;
        line-height: 1.2125;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        height: 100%;
        font-size: 2.6rem;
        font-weight: 400;
        background-color: #000000;
      }
    }
  }
  .footer-BB4 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.6rem 6.55rem 2.9rem 6.2rem;
    width: 100%;
    height: 32.4rem;
    display: flex;
    align-items: center;
    border: solid 0.1rem #000000;

    .support-GyC {
      height: 100%;
      flex-shrink: 0;
      margin-right: 9.4rem;
      width: 28rem;

      .support-oTL {
        text-align: center;
        font-size: 3.2rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        margin-bottom: 2.6rem;
        width: 100%;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
      }
      .creative-streetimaginary-city-ic-98765united-artistry-infoartistryjewelscom-1-555-123-4567-YA2 {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 28rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .links-CVU {
      margin: 0rem 8.8rem 7.2rem 0rem;
      width: 17.4rem;
      flex-shrink: 0;

      .quick-links-8e2 {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.6rem;
        width: 100%;
        text-align: center;
      }
      .privacy-policy-sLi {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.1rem 0.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .terms-of-use-icE {
        white-space: nowrap;
        margin: 0rem 0rem 2.1rem 0.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .faqs-qwk {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .account-ADL {
      margin: 0rem 10.95rem 2.1rem 0rem;
      width: 15.8rem;
      flex-shrink: 0;

      .account-hDG {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        margin-bottom: 2.6rem;
        width: 100%;
        text-align: center;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .my-acccount-on6 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .login-register-x9C {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .cart-6WJ {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.1rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .shop-qin {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .icons-xoQ {
      box-sizing: border-box;
      width: 40.9rem;
      height: calc(100% - 14rem);
      align-items: center;
      display: flex;
      margin: 6.5rem 0rem 7.5rem 0rem;
      padding-bottom: 0.75rem;
      flex-direction: column;
      flex-shrink: 0;

      .made-with-love-all-right-reserverd-45k {
        text-align: center;
        font-size: 2.4rem;
        color: #000000;
        flex-shrink: 0;
        margin-bottom: 4.65rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-wvea-BRG {
        margin: 0rem 7.5rem 0rem 6.7rem;
        width: calc(100% - 14.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .dashicons-facebook-6o8 {
          margin: 0rem 7.15rem 0.1rem 0rem;
          width: 4.4rem;
          height: 4.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .bi-linkedin-dHG {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 6.25rem;
          width: 4.4rem;
          height: 4.4rem;
          object-fit: contain;
        }
        .lets-icons-insta-fill-Nke {
          width: 4.5rem;
          height: 4.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
